/* First way of styling*/
/* Specify a tag*/

body{
    /*Flexes the content based on size*/
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}

#main{
    border:3px solid black;
    /* Setting width*/
    width:1000px;
    /* Setting height*/
    height:800px;
    background-color:lightsteelblue;

    /*animation-name: sizeChange;
    animation-duration: 20s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;*/
}

#header{
    height: 50px;
    border: 2px solid grey;
    /*alight text to center*/
    text-align: center;
    /* adding padding to the bottom*/
    padding-bottom: 25px;

    /* Name of animation */ 
    animation-name: textColorChange;
    /* How long the animation is*/ 
    animation-duration: 3s;
    /*How many time the animation will play */
    animation-iteration-count: infinite;
}


/* psuedo class */ 
#header:hover{
    font-size: 100px;
}

a:visited{
    color: limegreen
}

a:link{ /*non-visited links*/ 
    font-size: 20PX;
    border: 2px solid purple;
}

#nav-bar{ /*Setting all the text to the center*/
    height: 50px;
    text-align: center;
    border-top: 3px solid whitesmoke;
    border-bottom: 2px solid white;
    padding-top: 25px;
}

/* Specifyinh a class use a . */
.nav-btn{
    border: 1px solid black;
    padding: 5px;
}

#content{
    height: 520px;
    width: 620px;

    text-align: center;
    margin: auto;
    padding: 30px;
    border: 3px solid blanchedalmond;


    font-family: 'Noto Sans KR';
    

    /*animation-name: percentageAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;*/
}

#loremIpsum{
    border: 2px double blanchedalmond;
}


/* MUSIC*/
#musictxt{
    height: 520px;
    width: 620px;

    text-align: center;
    margin: auto;
    padding: 30px;
}

#mts{
    word-spacing: 1.5px;
}

.mtslive{
    border:4px solid darkred
}
.hss{
    border:4px solid hotpink
}

.k{
    border: 4px solid black
}

.w{
    border: 4px solid darkslategrey
}

/*Animations */
/* Keyframes defines an animation  */

@keyframes textColorChange{
    /* Starting at the color black */
    from{
        color:black
    }
    /* Ending at magenta */
    to{
        color: magenta
    }
}

@keyframes sizeChange{
    from{
        font-size: 10px;
    }
    to{ 
        font-size: 69px;
    }
}

@keyframes percentageAnimation{
    0%{
        background-color: salmon;
        border: 0px double indigo
        font-size: 0px;

        transform: rotate(260deg)
    }
    10%{
        background-color: darkcyan;
        border: 5px double palegoldenrod;
        font-size: 10px;
    }
    11%{
        background-color: fuchsia;
        border: 5px double forestgreen;
        font-size: 4px;
    }
    21%{

        background-color: darkcyan;
        border: 10px double palegoldenrod;
        font-size: 20px;

        transform: rotate (260deg);
    }
    48%{
        background-color: white;
        BORDER: 0PX DOUBLE white;
        font-size: 0px;
    }
    60%{
        background-color: lime;
        border: 10% double palegoldenrod;
        font-size: 20%;
    }
    67%{
        background-color: salmon;
        border: 30% dotted indigo;
        font-size: 20%;
    }

    99%{
        background-color: darkcyan;
        border: 10px double palegoldenrod;
        font-size: 20px;

        transform: rotate (260deg);
    }

    100%{
        background-color: salmon;
        border: 0px double indigo
        font-size: 0px;
    }
}